.sidebar {
  display: flex;
  flex-direction: column;
  width: 20vw;
  background-color: #e2e2e2;
  border-right: .5px solid grey;
}
.sidebarFilters {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-bottom: .5px solid grey;
  font-size: 1.5rem;
}

.sdFilterOptions {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;


}
.sdFilterCheckbox {
  display: flex ;
  flex-direction: column ;
  margin-top: .5rem;
  gap: 1rem;
  margin-bottom: 1rem;
}


@media only screen and (width < 1024px) {
  .sidebar {
    display: none;
  }
}
