.App {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  min-height: 100vh;
  color: black;
}

.Body {
  display: flex;
  flex-direction: row;
}

::-webkit-scrollbar {
  display: none;
}
.loadSpin {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  scale: 3;
}
