.App {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.Body {
  width: 95vw;
  display: flex;
  flex-direction: row;
}
::-webkit-scrollbar {
  display: none;
}
.loadSpin {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  scale: 7;
}

.tariffBody {
  display: flex;
  flex-direction: column;
  width: 80vw;
}

.tariffHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0rem 0rem .5rem 1rem;
  border: 1px solid black;
  border-radius: 1rem;
}
