.App {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.Body {
  width: 95vw;
  display: flex;
  flex-direction: row;
}
::-webkit-scrollbar {
  display: none;
}
.loadSpin {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  scale: 5;
}


